.back{
    background-image:url(images/parkles.jpg);
    background-position: cover;
    background-size: cover;
    
}

.back2{
    background-image:url(images/parkles.jpg);
    background-position: cover;
    background-size: cover;
    padding-top:10rem;
}

.bee{margin-left:20px;
}

.next{
    background-color: rgb(230, 240, 248);
}
/* .con{
    margin-top: 100px;
} */
.for{
    padding-top: 400px;
}
.but{
    margin: right 10%;
}
.von{
    margin-top: 100px;
}
.von2{
    margin-top: 125px;
}
.von3{
    margin-top: 155px;
}
.top{
    width: 100%;
}
